<div class="forget-password white-box">

<h2>Resend confirmation instructions</h2><br>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "enter your email" %>
  <%= f.submit "Resend confirmation instructions", class: "btn btn-block" %>
<% end %>

<div class="shared-links flex-column">
  <div class="sign-in-up">
    <%= link_to "Register", register_path %> |
    <%= link_to "Login", login_path %>
  </div>
</div>
</div>
