<li class="white-box">
  <div class="single-comment">
    <div class="comment-info flex-start">
      <div class="username info-element">
        <%= image_tag (comment.user.image_url or asset_path 'default-avatar.png'), width: "20px", height: "20px", class: "user_avatar" %>
        <%= link_to comment.user.username, user_profile_path(comment.user.username) %>
      </div>
      <div class="time-ago info-element">
        <svg class="icon-time sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-time"></use></svg>
        <%= time_ago_in_words(comment.created_at) %>
      </div>
      <div class="reply info-element">
        <span id="showReply<%= comment.id %>" onclick="document.getElementById('hidden-reply-<%= comment.id %>').classList.toggle('toggle-reply');">
          <svg class="icon-reply sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-reply"></use></svg>
          Reply
        </span>
      </div>
    </div>
    <div class="comment-content">
      <%= comment.content.html_safe %>
    </div>
  </div>
  <%= form_for [comment, Comment.new] do |f| %>
    <div class="hidden-reply toggle-reply" id="hidden-reply-<%= comment.id %>">
      <%= f.text_area :content, placeholder: "Add a Reply", class: "comment-feild" %>
      <%= f.submit "Reply", class: "btn"  %>
    </div>
  <% end %>
  <ul>
      <%= render partial: 'comments/comment', collection: comment.comments %>
  </ul>
</li>
