<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "container white-box login-form flex-column"}) do |f| %>
  <div class="login-head">
    <h1>Hello!</h1>
    <h4>log into your account here.</h4>
  </div>
  <div class="line"></div>
  <br>
  <%= f.email_field :email, autofocus: true, placeholder: "Your email", class: "username" %>
  <%= f.password_field :password, autocomplete: "off", placeholder: "Your password", class: "password" %>
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
  <%= f.submit "Login", class: "btn" %>
<% end %>
<div class="not-signup">
  Not registered? <%= link_to "Register", register_path %>
</div>
