<div class="profile white-box">
  <div class="profile-user-info flex-column-center">
    <%= image_tag (@user.image_url or avatar_for_gender(@user)), width: "150px", height: "150px",  class: "user-avatar" %>
    <div class="user-full_name">
      <%= "#{@user.first_name} #{@user.last_name}" %>
    </div>
    <div class="user-username">
      <%= "@#{@user.username}" %>
    </div>
    <div class="user-bio">
      <%= @user.bio %>
    </div>
  </div>


  <ul class="tabs">
    <li class="tab-link current" data-tab="tab-1">My Discussions</li>
    <li class="tab-link" data-tab="tab-2">My Documents</li>
  </ul>

	<div id="tab-1" class="tab-content current">
    <div class="user-posts">
      <% @posts.each do |post| %>
        <div class="post user-single-post">
          <div class="title">
            <%= link_to post.title, post_path(post) %>
          </div>
          <div class="info flex-center-start">
              <div class="time-ago info-element">
                <svg class="icon-time sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-time"></use></svg>
                <%= time_ago_in_words(post.created_at) %>
              </div>
              <%= link_to course_path(post.course), class: "course info-element" do %>
              <svg class="icon-apps sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-apps"></use></svg>
              <%= truncate(post.course.name, length: 32) %>
              <% end %>
              <div class="comments info-element">
                <svg class="icon-chat sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-chat"></use></svg>
                <%= post.comments.count %>
              </div>
          </div>
        </div>
      <% end %>
      <%= will_paginate @posts %>
    </div>
  </div>

	<div id="tab-2" class="tab-content">
    <div class="user-posts">
      <% @documents.each do |document| %>
        <div class="post user-single-post">
          <div class="title">
            <%= document.title %>
          </div>
          <div class="info flex-center-start">
            <div class="time-ago info-element">
              <svg class="icon-time sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-time"></use></svg>
              <%= time_ago_in_words(document.created_at) %>
            </div>
            <%= link_to course_path(document.course), class: "course info-element" do %>
            <svg class="icon-apps sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-apps"></use></svg>
            <%= truncate(document.course.name, length: 32) %>
            <% end %>
            <%= link_to document.document_url, class: "download info-element" do %>
            <svg class="icon-download sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-download"></use></svg>
            Download
            <% end %>
          </div>
        </div>
      <% end %>
      <%= will_paginate @documents %>
    </div>
  </div>
</div>
