<div class="profile white-box">
  <div class="profile-user-info flex-column-center">
    <%= image_tag (@user.image_url or asset_path 'default-avatar.png'), width: "150px", height: "150px",  class: "user-avatar" %>
    <div class="user-full_name">
      <%= "#{@user.first_name} #{@user.last_name}" %>
    </div>
    <div class="user-username">
      <%= "#{@user.username}@" %>
    </div>
    <div class="user-bio">
      <%= @user.bio %>
    </div>
  </div>
  <div class="profile-tabs flex-center-around">
    <div class="tab">My Discussions</div>
    <div class="tab active">My Documents</div>
    <div class="tab">My Comments</div>
  </div>
  <div class="user-posts">
    <% @posts.each do |post| %>
      <div class="post user-single-post">
        <div class="title">
          <%= link_to post.title, post_path(post) %>
        </div>
        <div class="info flex-center-start">
            <div class="time-ago info-element">
              <svg class="icon-time sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-time"></use></svg>
              <%= time_ago_in_words(post.created_at) %>
            </div>
            <div class="comments info-element">
              <svg class="icon-chat sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-chat"></use></svg>
              23
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
