<div class="dashboard">
  Admin Dashboard
</div>
<div class="admin flex-start">
  <div class="approve-documents flex-column">
    <% @documents.each do |document| %>
    <div class="approve-document white-box flex-start">
      <div class="title">
        <%= document.title %>
      </div>
      <div class="doc-btn flex-start">
        <%= link_to "Download", document.document_url, class: "btn" %>
        <%= form_for document, {action: :approve} do |f| %>
          <%= f.hidden_field :approved, value: true %>
          <%= f.submit "Approve", class: "btn" %>
        <% end %>
        <%= link_to "delete", document, method: :delete, data: { confirm:  "Are you sure?"}, class: "btn" %>
      </div>
    </div>
    <% end %>
  </div>

    <div class="admin-functions white-box flex-column">
      <%= link_to "Add Announcement", new_announcement_path %>
      <%= link_to "Add Video", new_video_path %>
      <%= link_to "Add Course", new_course_path %>
      <%= link_to "Add Major", new_major_path %>
      <%= link_to "Add Faculty", new_faculty_path %>
    </div>
</div>
