<div class="edit-user-password white-box">
  <h1>change your password</h1>
  <%= form_for(@user, url: {controller: :users, action: :update_password } ) do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <%= f.password_field :current_password, placeholder: "enter your current password" %>
  <%= f.password_field :password, autocomplete: "off", placeholder: "enter your new password"  %>
  <%= f.password_field :password_confirmation, placeholder: "confirm your new password" %>

  <%= f.submit "Update", class: "btn" %>
  <% end %>
</div>
