<div class="single-video flex-column-center">
  <iframe id="ytplayer" type="text/html" width="800" height="460" src="https://www.youtube.com/embed/<%= @video.youtube_video_id %>?autoplay=0" frameborder="0"></iframe>
  <div class="title-status video-block white-box">
    <div class="title">
      <%= @video.title %>
    </div>
    <div class="status">
      <%= @video.status %>
    </div>
  </div>
  <div class="date-course video-block white-box">
    <div class="date">
      <svg class="icon-calendar sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-calendar"></use></svg>
      <%= @video.created_at.strftime("%b %d, %Y") %>
    </div>
    <%= link_to course_path(@video.course), class: "course" do %>
    <svg class="icon-apps sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-apps"></use></svg>
    <%= truncate(@video.course.name, length: 32) %>
    <% end %>
    <% if @video.user == current_user %>
      <%= link_to edit_video_path(@video), class: "edit" do %>
        <svg class="icon-create sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-create"></use></svg>
        Edit
      <% end %>
      <%= link_to @video, :method => :delete, data: { confirm:  "Are you sure?"}, class: "delete" do %>
        <svg class="icon-delete sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-delete"></use></svg>
        Delete
      <% end %>
    <% end %>
  </div>

  <div class="realted-video white-box">
    <h1>Realted Videos</h1>
    <div class="videos">
      <% @realted_videos.each do |video| %>
        <div class="video" style="background-image:url(https://i1.ytimg.com/vi/<%= video.youtube_video_id %>/0.jpg)">
          <%= link_to video_path(video), class: "title" do %>
            <%= video.title %>
          <% end %>
          <div class="status">
            <%= video.status %>
          </div>
          <div class="time">
            <svg class="icon-calendar sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-calendar"></use></svg>
            <%= video.created_at.strftime("%b %d, %Y") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class="white-box add-comment">
      <h3>Add Comment</h3>
      <%= form_for([@video, Comment.new]) do |f| %>
          <%= f.trix_editor :content %>
          <%= f.submit "Comment", class: "comment-btn btn" %>
      <% end %>
    </div>
  <% end %>
  <div class="comments-tree flex-column">
    <% @comments.each do |comment| %>
      <div class="single-comment white-box">
        <div class="info flex-center-start">
          <div class="username info-element">
            <%= image_tag (comment.user.image_url or avatar_for_gender(comment.user)), width: "20px", height: "20px", class: "user_avatar" %>
            <%= link_to comment.user.username, user_profile_path(comment.user.username) %>
          </div>
          <div class="time-ago info-element">
            <svg class="icon-time sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-time"></use></svg>
            <%= time_ago_in_words(comment.created_at) %>
          </div>
        </div>
        <div id="md-content" class="post-content">
          <%= sanitize comment.content %>
        </div>
      </div>
    <% end %>
  </div>
</div>
