<%= form_for(major) do |f| %>
  <% if major.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% major.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :name, placeholder: "major name" %>
    <%= collection_select(nil, :faculty_id, Faculty.all, :id, :name, prompt: "faculty name:") %>
    <%#= select_tag :faculty_id, options_for_select(@faculties), prompt: "faculty name:" %>
    <%= f.submit "Add", class: "btn" %>

<% end %>
