
<div class="documents-functions container flex-start">
  <%= form_tag documents_path, method: :get, class: "documents-search search-form" do %>
    <%= text_field_tag :search, params[:search], placeholder: "search in documents", class: "search-field" %>
    <%= button_tag type: "submit", class: "search-btn" do %>
      <svg class="icon-search"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-search"></use></svg>
    <% end %>
  <% end %>
  <%= link_to new_document_path, class: "add-new-document add-new-btn" do %>
    Add Document
  <% end %>
</div>

  <div class="documents">
    <% @documents.each do |document| %>
      <div class="document white-box">
        <div class="extension-type">

          <div class="title">
            <%= document.title %>
          </div>
        </div>
        <div class="document-info flex-column">
          <div class="username info-element">
            <%= image_tag (document.user.image_url or avatar_for_gender(document.user)), width: "20px", height: "20px", class: "user_avatar" %>
            <%= link_to document.user.username, user_profile_path(document.user.username) %>
          </div>
          <div class="time-ago info-element">
            <svg class="icon-time sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-time"></use></svg>
            <%= time_ago_in_words(document.created_at) %>
          </div>
          <%= link_to course_path(document.course), class: "course info-element" do %>
          <svg class="icon-apps sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-apps"></use></svg>
          <%= truncate(document.course.name, length: 25) %>
          <% end %>
          <div class="info-element">
            <% if current_user.is_admin %>
              <%= link_to "delete", document, method: :delete, data: { confirm:  "Are you sure?"} %>
            <% end %>
          </div>

        </div>
        <%= link_to document.document_url, class: "download-btn" do %>
        Download
        <% end %>
      </div>
    <% end %>
  </div>
  <br>
  <%= will_paginate @documents %>
