<div class="body flex-column">
  <% @documents.each do |document| %>
    <div class="white-box document">
      <div class="title">
        <%= document.title %>
      </div>
      <div class="document-info">
        <div class="info flex-center-start">
            <div class="username info-element">
              <%= image_tag (document.user.image_url or asset_path 'default-avatar.png'), width: "20px", height: "20px", class: "user_avatar" %>
              <%= link_to document.user.username, user_profile_path(document.user.username) %>
            </div>
            <div class="time-ago info-element">
              <svg class="icon-time sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-time"></use></svg>
              <%= time_ago_in_words(document.created_at) %>
            </div>
            <div class="category info-element">
              <svg class="icon-apps sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-apps"></use></svg>
              <%= document.course.name %>
            </div>
        </div>
        <div class="download flex-center-end">
          <div class="doc-info flex-center-start">
            <svg class="icon-document sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-document"></use></svg>
            <%= " " + Rack::Mime::MIME_TYPES.invert[document.document.mime_type].sub(/./, '').upcase + " | " %>
            <%= (document.document.size / 1024).round(2) %> KB
          </div>
          <%= link_to document.document_url, class: "btn" do %>
            <svg class="icon-download sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-download"></use></svg>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
