<%= form_for(course) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :name, placeholder: "course name" %><br>
    <%= f.grouped_collection_select :major_id, Faculty.all, :majors, :name, :id, :name, prompt: "major name:" %>
    <%= f.submit "Add", class: "btn" %>
<% end %>
