<div class="container">
  <%= form_tag courses_path, method: :get, id: "select_major" do %>
    <%= grouped_collection_select(nil, :major_id, Faculty.all, :majors, :name, :id, :name, prompt: "Select a major:") %>
  <% end %>
  <div class="line"></div>
  <div class="courses flex-column">
    <div id="major_name">
      <%= @major.name %>
    </div>
    <% @courses.each do |course| %>
        <%= link_to course_path(course), class: "course-show white-box" do %>
          <%= course.name %>
        <% end %>
    <% end %>
  </div>
</div>
