<div class="forget-password white-box">
  <h2>Forgot your password?</h2><br>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
      <%= f.email_field :email, autofocus: true, placeholder: "enter your email" %>
      <%= f.submit "Send me reset password instructions", class: "btn" %>
  <% end %>

<div class="shared-links flex-column">
  <div class="sign-in-up">
    <%= link_to "Register", register_path %> |
    <%= link_to "Login", login_path %>
  </div>
  <%= link_to "Didn't receive confirmation instructions?", new_user_confirmation_path %>
</div>
</div>
