<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= grouped_collection_select(:major, :name, Faculty.all, :majors, :name, :id, :name, prompt: "Major name:") %>
  <%= f.grouped_collection_select :course_id, Major.all, :courses, :name, :id, :name, prompt: "Course name:" %>
  <%= f.text_field :title, placeholder: "Title describe the content" %>
  <%= f.trix_editor :content, placeholder: "Content of the discussion" %>
  <%= f.submit "Publish", class: "btn post_submit" %>
<% end %>
