<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.collection_select :course_id, Course.all, :id, :name, prompt: "Course name:" %>
  <%= f.text_field :title, placeholder: "Title describe the content" %>
  <%= f.trix_editor :content, placeholder: "Content of the discussion" %>
  <%= f.submit "Publish", class: "btn post_submit" %>
<% end %>
