<%= form_tag posts_path, method: :get, class: "posts-search-res search-form flex-start container" do %>
<%= text_field_tag :search, params[:search], placeholder: "search in discussions", class: "search-field" %>
<%= button_tag type: "submit", class: "search-btn" do %>
<svg class="icon-search"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-search"></use></svg>
<% end %>
<% end %>
<div class="container flex-start">
  <div class="posts flex-column">
    <% @posts.each do |post| %>
      <div class="white-box post">
        <div class="title">
          <%= link_to post.title, post_path(post) %>
        </div>
        <div class="info flex-center-start">
          <div class="votes index-votes flex-center-around">
            <%= link_to upvote_post_path(post), method: :patch, remote: true, class: "upvote vote-box" do %>
            <svg class="icon-chevron-down upvote-icon sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-chevron-down"></use></svg>
            <% end %>
            <div id="vote_avg_<%= post.id %>" class="vote-avg vote-box">
              <%= post.post_votes %>
            </div>
            <%= link_to downvote_post_path(post), method: :patch, remote: true, class: "downvote vote-box" do %>
            <svg class="icon-chevron-down sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-chevron-down"></use></svg>
            <% end %>
          </div>
          <div class="username info-element">
            <%= image_tag (post.user.image_url or avatar_for_gender(post.user)), width: "20px", height: "20px", class: "user_avatar" %>
            <%= link_to truncate(post.user.username, length: 25), user_profile_path(post.user.username) %>
          </div>
          <div class="time-ago info-element">
            <svg class="icon-time sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-time"></use></svg>
            <%= time_ago_in_words(post.created_at) %>
          </div>
          <%= link_to course_path(post.course), class: "course info-element" do %>
          <svg class="icon-apps sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-apps"></use></svg>
          <%= truncate(post.course.name, length: 25) %>
          <% end %>
          <div class="comments info-element">
            <svg class="icon-chat sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-chat"></use></svg>
            <%= post.comments.count %>
          </div>
        </div>
      </div>
    <% end %>
    <br>
    <%= will_paginate @posts %>
  </div>
  <div class="posts-sidebar">
    <div class="posts-functions flex-column">
      <%= form_tag posts_path, method: :get, class: "posts-search search-form flex-start" do %>
        <%= text_field_tag :search, params[:search], placeholder: "search in discussions", class: "search-field" %>
        <%= button_tag type: "submit", class: "search-btn" do %>
          <svg class="icon-search"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-search"></use></svg>
        <% end %>
      <% end %>
      <%= link_to new_post_path, class: "add-new-post add-new-btn" do %>
        Add Discussion
      <% end %>
    </div>
    <%#<div class="side-block white-box">
      <div class="title">
        Ads
      </div>
      <div class="content">
        <!-- Begin Hsoub Ads Ad Place code -->
        <script type="text/javascript"><!--
          hsoub_adplace = 1703371011225311;
          hsoub_adplace_size = '300x250';
        //--></script>
        <script src="http://ads2.hsoub.com/show.js" type="text/javascript"></script>
        <!-- End Hsoub Ads Ad Place code -->
      </div>
    </div>%>
    <div class="side-block white-box">
      <div class="title">
        TOP COURSES
      </div>
      <div class="content">
        <div class="top-courses flex-column">
          <% @top_courses.each do |course, _| %>
            <%= link_to course_path(course), class: "top-course" do %>
              <%= course.name  %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <% if @announcement.present? %>
      <div class="side-block white-box">
        <div class="title">
          UPCOMING
        </div>
        <div class="content">
          <div style="background-image:url(<%= @announcement.image_url %>);" class="announcement">
            <%= link_to @announcement.title, announcement_path(@announcement), class: "title" %>
            <div class="date">
              <svg class="icon-calendar sixteenth-px"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-calendar"></use></svg>
              <%= @announcement.date.strftime("%b %e, %l:%M %p") %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
