<header id="Header">
  <div class="header-elements">
    <%= link_to root_path, class: "logo" do %>
    <img src="/logo.svg" alt="3lmny" />
    <% end %>
    <nav class="header-nav flex-start">
      <%= link_to posts_path, class: "link#{active('posts')}" do %>
      <span>Discussions</span>
      <% end %>
      <%= link_to documents_path, class: "link#{active('documents')}" do %>
      <span>Documents</span>
      <% end %>
      <%= link_to videos_path, class: "link#{active('videos')}" do %>
      <span>Videos</span>
      <% end %>
      <%= link_to courses_path, class: "link#{active('courses')}" do %>
      <span>Courses</span>
      <% end %>
      <%= link_to announcements_path, class: "link#{active('announcements')}" do %>
      <span>Announcements</span>
      <% end %>
    </nav>
    <% if user_signed_in? %>
      <div class="side-elements">
        <div class="user-functions flex-center-around">
          <svg class="icon-search function"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-search"></use></svg>
          <div class="icon-notification function">
            <svg class="icon-notifications" id="show_notifications"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-notifications"></use></svg>
            <span id="unread_count"></span>
          </div>
          <div class="notifications-box" id="notifications_toggle"></div>
        </div>
        <div class="user-info flex-center-around">
          <%= link_to user_profile_path(current_user.username) do %>
            <img src="<%= current_user.image_url or avatar_for_gender(current_user) %>" class="user-avatar" alt="user-avatar" width="32" height="32" />
          <% end %>
        </div>
        <svg class="icon-chevron-down sixteenth-px function" id="show_settings"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-chevron-down"></use></svg>
        <div id="user_settings">
          <% if current_user.is_admin %>
            <%= link_to 'Admin Dashboard', admin_index_path %>
          <% end %>
          <%= link_to 'Edit profile info', edit_user_profile_path(current_user) %>
          <%= link_to 'Edit password', edit_password_users_path(current_user) %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </div>
      </div>
    <% else %>
      <div class="side-elements">
        <%= link_to 'Login', login_path, class: "login header-btn" %>
        <%= link_to 'Register', register_path, class: "register header-btn" %>
      </div>
    <% end %>
  </div>
</header>
