<header id="Header">
  <div class="header-elements">
    <% if user_signed_in? %>
      <div class="side-elements">
        <div class="user-functions flex-center-around">
          <svg class="icon-search function"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-search"></use></svg>
          <svg class="icon-notifications function"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-notifications"></use></svg>
          <svg class="icon-mail function"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-mail"></use></svg>
        </div>
        <div class="user-info flex-center-around">
          <%= link_to user_profile_path(current_user.username) do %>
            <img src="<%= current_user.image_url or asset_path 'default-avatar.png' %>" class="user-avatar" alt="user-avatar" width="32" height="32" />
          <% end %>
          <svg class="icon-chevron-down sixteenth-px dropdown-btn" onclick="document.getElementById('user_settings').classList.toggle('collapsed');"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-chevron-down"></use></svg>
        </div>
      </div>
      <div id="user_settings" class="dropdown-list collapsed">
        <%= link_to 'Edit profile', edit_user_path(current_user) %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      </div>
    <% else %>
      <div class="side-elements">
        <%= link_to 'Login', login_path, class: "login header-btn" %>
        <%= link_to 'Register', register_path, class: "register header-btn" %>
      </div>
    <% end %>
  </div>
</header>
