<header id="Header">
  <div class="header-elements">
    <%= link_to root_path, class: "logo" do %>
    <img src="/logo.svg" alt="" />
    <% end %>
    <nav class="header-nav flex-start">
      <%= link_to posts_path, class: "link#{active('posts')}" do %>
      <span>Discussions</span>
      <% end %>
      <%= link_to documents_path, class: "link#{active('documents')}" do %>
      <span>Documents</span>
      <% end %>
      <%= link_to videos_path, class: "link#{active('videos')}" do %>
      <span>Videos</span>
      <% end %>
      <%= link_to courses_path, class: "link#{active('courses')}" do %>
      <span>Courses</span>
      <% end %>
      <%= link_to announcements_path, class: "link#{active('announcements')}" do %>
      <span>Announcements</span>
      <% end %>
    </nav>
    <% if user_signed_in? %>
      <div class="side-elements">
        <div class="user-functions flex-center-around">
          <svg class="icon-search function"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-search"></use></svg>
          <svg class="icon-notifications function"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-notifications"></use></svg>
          <svg class="icon-mail function"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-mail"></use></svg>
        </div>
        <div class="user-info flex-center-around">
          <%= link_to user_profile_path(current_user.username) do %>
            <img src="<%= current_user.image_url or asset_path 'default-avatar.png' %>" class="user-avatar" alt="user-avatar" width="32" height="32" />
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="side-elements">
        <%= link_to 'Login', login_path, class: "login header-btn" %>
        <%= link_to 'Register', register_path, class: "register header-btn" %>
      </div>
    <% end %>
  </div>
</header>
