<!DOCTYPE html>
<html>
  <head>
    <title>3lmny | By students to students</title>
    <%= csrf_meta_tags %>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,500" rel="stylesheet">
    <meta name="msapplication-TileColor" content="#34c9ab">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#34c9ab">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
        <button type="button" name="button" id="dismiss_btn">x</button>
      </div>
    <% end %>
    <div id="mainContent">
      <input type="checkbox" name="checkbox" id="menu_toggle" />
      <label for="menu_toggle" id="toggle_label">
        <svg class="icon-menu"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-menu"></use></svg>
      </label>
      <nav id="side_nav">
        <% if user_signed_in? %>
          <div class="side-elements">
            <!-- <div class="user-functions flex-center-around">
              <div class="icon-notification function">
                <svg class="icon-notifications" id="show_notifications"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-notifications"></use></svg>
                <span id="unread_count"></span>
              </div>
              <div class="notifications-box" id="notifications_toggle"></div>
            </div> -->
            <div class="user-info flex-center-around">
              <%= link_to user_profile_path(current_user.username) do %>
                <img src="<%= current_user.image_url or asset_path 'default-avatar.png' %>" class="user-avatar" alt="user-avatar" width="32" height="32" />
              <% end %>
            </div>
          </div>
          <%= form_tag searches_path, method: :get, class: "search-box" do |f| %>
            <%= text_field_tag :search, params[:search], placeholder: "search", class: "search-feild" %>
          <% end %>
          <div class="mobile_user_settings flex-column">
            <%= link_to user_profile_path(current_user.username) do %>
              My Profile
            <% end %>
            <%= link_to 'Edit Profile', edit_user_profile_path(current_user) %>
            <%= link_to 'Add Discussion', new_post_path %>
            <%= link_to 'Add Document', new_document_path %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
          </div>
        <% else %>
          <div class="side-elements">
            <%= link_to 'Login', login_path, class: "login header-btn" %>
            <%= link_to 'Register', register_path, class: "register header-btn" %>
          </div>
        <% end %>

        <nav class="side-nav flex-column">
          <%= link_to posts_path, class: "nav-link#{active('posts')}" do %>
          <span>Discussions</span>
          <% end %>
          <%= link_to documents_path, class: "nav-link#{active('documents')}" do %>
          <span>Documents</span>
          <% end %>
          <%= link_to videos_path, class: "nav-link#{active('videos')}" do %>
          <span>Videos</span>
          <% end %>
          <%= link_to courses_path, class: "nav-link#{active('courses')}" do %>
          <span>Courses</span>
          <% end %>
          <%= link_to announcements_path, class: "nav-link#{active('announcements')}" do %>
          <span>Announcements</span>
          <% end %>
        </nav>

      </nav>
      <%= render 'layouts/header' %>
      <% if user_signed_in? %>
        <input type="checkbox" name="checkbox" id="search_toggle" />
        <label for="search_toggle" id="search_toggle_label">
          <svg class="icon-search"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-search"></use></svg>
        </label>
        <%= form_tag searches_path, method: :get, class: "search-box" do |f| %>
          <%= text_field_tag :search, params[:search], placeholder: "e.g. Java1, Algorithms, etc...", class: "search-feild" %>
        <% end %>
      <% end %>
      <div id="Content" class="container">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
