  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "white-box flex-center-around edit-user" }) do |f| %>
    <!-- <%= devise_error_messages! %> -->
    <div class="user-info-fields">
      <%= f.text_field :first_name, autofocus: true, placeholder: "First name", class: "input-block" %>
      <%= f.text_field :last_name, placeholder: "Last name", class: "input-block" %>
      <%= f.password_field :password, autocomplete: "off", placeholder: "New password", class: "input-block" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Retype new password", class: "input-block" %>
      <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current password", class: "input-block", required: true %>
      <%= f.submit "Save!", class: "btn" %>
      <div class="gender">
        <%= f.label :gender, "Male", :value => "m"  %>
        <%= f.radio_button :gender, "m" %>
        <%= f.label :gender, "Female", :value => "f" %>
        <%= f.radio_button :gender, "f" %>
        <%= f.label :gender, "Other", :value => "u" %>
        <%= f.radio_button :gender, "u" %>
      </div>
    </div>

    <div class="user-avatar">
      <%= f.text_area :bio, class: "user-bio", placeholder: "Bio" %>
      <label for="avatar_upload" class="btn btn-block" id="avatar_label">
        <svg class="icon-image"><use xlink:href="<%= asset_path 'icons.svg' %>#icon-image"></use></svg>
        <span>Select a picture</span>
      </label>
      <%= f.hidden_field :image, value: f.object.cached_image_data %>
      <%= f.file_field :image, id: "avatar_upload" %>
    </div>
  <% end %>
