<div class="users flex-column">

  <% @users.each do |user| %>
    <div class="user flex-start white-box">
      <%= image_tag (user.image_url or avatar_for_gender(user)), width: "50px", height: "50px", class: "avatar user-element" %>
      <div class="username user-element">
        <%= link_to user.username, user_profile_path(user.username) %>
      </div>
      <div class="email user-element">
        <%= user.email %>
      </div>
      <div class="register-date user-element">
        <%= user.created_at.strftime("%e %b %Y %H:%M %p") %>
      </div>
      <%= link_to "Delete", admin_delete_user_path(user), :method => :delete, data: { confirm:  "Are you sure?"}, class: "btn delete-user" %>
    </div>
  <% end %>
</div>
